[build]
builder = "NIXPACKS"

[deploy]
startCommand = "python rvc_service_hf.py & node server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "web"
type = "web"
